<div class="Footer__wrapper">
  <footer class="Footer">
    <div class="Footer__column">
      <ul class="u-List--unstyled">
        <li class="Footer__site-title">{{ site.title | escape }}</li>
        {%- if site.tagline -%}
          <li class="Footer__tagline">{{ site.tagline | escape }}</li>
        {%- endif -%}
        {%- if site.email -%}
          <li><a class="Footer__email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        {%- endif -%}
      </ul>
    </div>
    <div class="Footer__column">
      <ul class="u-List--unstyled Footer__social">
        {%- if site.gitlab_username -%}
          <li>
            <a href="https://gitlab.com/{{ site.gitlab_username| cgi_escape | escape }}">
              <svg class="svg-icon"><use xlink:href="{{ '/assets/social-icons.svg#gitlab' | relative_url }}"></use></svg>
              <span class="username">{{ site.gitlab_username| escape }}</span>
            </a>
          </li>
        {%- endif -%}
        {%- if site.twitter_username -%}
          <li>
            <a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}">
              <svg class="svg-icon"><use xlink:href="{{ '/assets/social-icons.svg#twitter' | relative_url }}"></use></svg>
              <span class="username">{{ site.twitter_username| escape }}</span>
            </a>
          </li>
        {%- endif -%}
      </ul>
    </div>
  </footer>
</div>
