<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/custom.css" | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png">
    {% if page.title %}
      <title>{{ page.title | append: " | " }}{{ site.title }}: {{ site.tagline }}</title>
    {% else %}
      <title>{{ site.title }}: {{ site.tagline }}</title>
    {% endif %}
    {%- feed_meta -%}
  </head>
  <body>
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {%- include footer.html -%}
  </body>
</html>
