---
layout: default
---
<article class="Member" itemscope itemtype="https://schema.org/Person">

  <h1 class="Member__handle" itemprop="name">{{ page.handle }}</h1>

  {%- if page.nationality -%}
    <p class="Member__nationality" itemprop="nationality">{{ page.nationality }}</p>
  {%- endif -%}

  {%- if page.specializations -%}
    <p class="Member__specializations" itemprop="knowsAbout">{{ page.specializations }}</p>
  {%- endif -%}

  <div class="Member__content" itemprop="description">
    {{ content }}
  </div>

</article>
